<mat-toolbar color="primary">

    <span style="padding-left: 30px;">Angular</span>
    <mat-sidenav #sidenav>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon style="margin-top:-100px;">menu</mat-icon>
        </button>
    </mat-sidenav>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">search</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">notifications</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example message icon">message</mat-icon>
    <img src="./assets/images/img.jpeg" style="widows: 20px;height:30px ;padding-right:20px;padding-left:20px;"><br>
    <span style="padding-right: 20px; font-size: smaller;"> Hi,Robert </span>
</mat-toolbar>