<div class="auth">
    <div class="container">
        <div class="login-box">
            <form name="form" class="form">
                <div class="input-box">
                    <input type="email" name="Email" placeholder="Email" class="form-control" required email>
                </div><br>
                <div class="input-box">
                    <input type="password" name="Password" placeholder="Password" class="form-control" required
                        minlength="6" maxlength="16">
                    <span><i class="fa fa-eye eyeicon"></i></span>
                </div><br>
                <div class="cheack-box">
                    <input type="checkbox"><label>Remember me</label>
                    <a href="#" class="forgotPassword">ForgotPassword</a>
                </div>
                <br>
                <button type="submit" class="submit-button">LOGIN</button>
                <p class="text-center Register-link">DontHaveAccount? <a href="#">Register</a></p>
            </form>
        </div>
    </div>
</div>