<mat-nav-list>
    <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header >
            <mat-panel-title >
                <mat-icon>menu</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header> -->
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">home
                </mat-icon>
                <div mat-line>Dashboard</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">shopping_cart
                </mat-icon>
                <div mat-line>E-commerce<sup><span class="badge badge-pill badge-success">NodeJs</span></sup></div>
            </mat-list-item>
                <ul class="product-list" style="color: black;">
                    <li>Product Manage</li>
                    <li>Product Grid</li>
                    <li>Product Page</li>   
                </ul>
            <mat-list-item>
                <mat-icon mat-list-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">person
                </mat-icon>
                <div mat-line>User<sup><span class="badge badge-pill badge-danger">New</span></sup></div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">file_copy
                </mat-icon>
                <div mat-line>Documents</div>
            </mat-list-item>s
        </mat-list>
        <hr>
        <br>
        <div style="color: black;">TEMPLATE</div>
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">view_comfy
                </mat-icon>
                <div mat-line>Core</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">border_all
                </mat-icon>
                <div mat-line>Tables</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="example-icon" aria-hidden="false" aria-label="Example search icon">library_books
                </mat-icon>
                <div mat-line>UI Elements</div>
            </mat-list-item>
        </mat-list>
    <!-- </mat-expansion-panel> -->
</mat-nav-list>